<section class="about">
  <div class="container">
    <h2 class="about-title">
      Resource is
      <span class="about-title__accent">
        the perfect and cozy place
      </span>
      where you can enjoy a variety of hot beverages, relax, catch up with friends, or get some work done.
    </h2>
    <div class="about-gallery">
      <div class="gallery-section section-one">
        <img class="gallery-section__photo" src="./assets/about-photo-1.jpg" alt="photo">
        <img class="gallery-section__photo" src="./assets/about-photo-2.jpg" alt="photo">
      </div>
      <div class="gallery-section section-two">
        <img class="gallery-section__photo" src="./assets/about-photo-3.jpg" alt="photo">
        <img class="gallery-section__photo" src="./assets/about-photo-4.jpg" alt="photo">
      </div>
    </div>
  </div>
</section>