<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-content">
        <h2 class="footer-content__title">
          Sip, Savor, Smile.
          <span class="footer-content__accent">
            It’s coffee time!
          </span>
        </h2>
        <div class="footer-social">
          <a class="footer-social__link twitter" href="https://twitter.com/" target="_blank">
            <img class="footer-social__icon" src="./assets/img/twitter-icon.svg" alt="twitter">
          </a>
          <a class="footer-social__link instagram" href="https://www.instagram.com/" target="_blank">
            <img class="footer-social__icon" src="./assets/img/instagram-icon.svg" alt="instagram">
          </a>
          <a class="footer-social__link meta" href="https://www.facebook.com/" target="_blank">
            <img class="footer-social__icon" src="./assets/img/facebook-icon.svg" alt="facebook">
          </a>
        </div>
      </div>
      <div class="footer-contacts">
        <h3 class="footer-contacts__title">
          Contact us
        </h3>
        <ul class="contact-list">
          <li class="contact-list__item">
            <img class="contact-item__icon" src="./assets/img/address-icon.svg" alt="">
            <address class="contact-item__address">
              8558 Green Rd., LA
            </address>
          </li>
          <li class="contact-list__item">
            <img class="contact-item__icon" src="./assets/img/phone-icon.svg" alt="">
            <a class="contact-item__phone" href="tel:+16035550123">
              +1 (603) 555-0123
            </a>
          </li>
          <li class="contact-list__item">
            <img class="contact-item__icon" src="./assets/img/clock-icon.svg" alt="">
            <time class="contact-item__clock">
              Mon-Sat: 9:00 AM – 23:00 PM
            </time>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>