<header #headerElement class="header">
  <div class="container">
    <div class="header-top">
      <a (click)="navigateClick()" class="logo-link" routerLink="">
        <img class="logo-img" src="./assets/img/coffee-house-logo.png" alt="Coffe House">
      </a>
      <nav [ngClass]="{'navigation--active': burgerActiveState}" (click)="navigateClick()" class="navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a class="navigation-item__link" href="#favorite">Favorite coffee</a>
          </li>
          <li class="navigation-list__item">
            <a class="navigation-item__link" href="#about">About</a>
          </li>
          <li class="navigation-list__item">
            <a class="navigation-item__link" href="#application">Mobile app</a>
          </li>
          <li class="navigation-list__item">
            <a class="navigation-item__link" (click)="scrollToFooter()">Contact us</a>
          </li>
        </ul>
        <a class="menu-link" (click)="scrollToTop()" routerLink="/menu">
          Menu
          <img class="menu-link__icon" src="./assets/img/menu-link-icon.svg" alt="menu icon">
        </a>
      </nav>
      <div (click)="burgerActive()" class="header-burger">
        <span [ngClass]="{'burger-line__top--active': burgerActiveState}" class="header-burger__line burger-line__top"></span>
        <span [ngClass]="{'burger-line__bottom--active': burgerActiveState}" class="header-burger__line burger-line__bottom"></span>
      </div>
    </div>
  </div>
</header>