@import "../../../../styles/variables.scss";

.slider {
  .slider-box {
    position: relative;
  }

  .slider-wrapper {
    overflow: hidden;
    margin: 0 auto 40px;
    width: 480px;
  }

  .slider-btn {
    position: absolute;
    transform: translateY(-30px);
    top: 50%;
    // border: 1px solid $bgContainer;
    // border-radius: 50%;
    // transition: background-color .5s, color .5s;
  }

  // .slider-btn:hover {
  //   background-color: $bgContainer;
  //   color: $textLight;
  // }

  .arrow-left {
    left: 0;
  }

  .arrow-right {
    right: 0;
  }

  .slider-progressbar {
    margin: 0 auto;
    max-width: 150px;
  }

  .progressbar-list {
    display: flex;
    justify-content: space-between;
  }

  .progressbar-item {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: $borderLight;
  }

  // .progressbar-item:first-child >
  .progressbar-item__progress {
    width: 0;
    height: 100%;
    border-radius: 100px;
    background-color: $borderDark;
  }

  @media (max-width: 630px) {
    .slider-wrapper {
      width: 348px;
    }
  }

  @media (max-width: 510px) {
    .slider-btn {
      display: none;
    }
  }
}