<div class="slider">
  <div class="slider-box">
    <div class="slider-wrapper">
      <div class="slider-list">

        <div class="slider-item">
          <img class="slider-item__img" src="./assets/coffee-slide-1.png" alt="coffee">
          <h4 class="slider-item__name">S’mores Frappuccino</h4>
          <p class="slider-item__descr">
            This new drink takes an espresso and mixes it with brown sugar and cinnamon before being topped with oat
            milk.
          </p>
          <p class="slider-item__price">5.50</p>
        </div>

        <div class="slider-item">
          <img class="slider-item__img" src="./assets/coffee-slide-2.png" alt="coffee">
          <h4 class="slider-item__name">Caramel Macchiato</h4>
          <p class="slider-item__descr">
            Fragrant and unique classic espresso with rich caramel-peanut syrup, with cream under whipped thick
            foam.
          </p>
          <p class="slider-item__price">5.00</p>
        </div>

        <div class="slider-item">
          <img class="slider-item__img" src="./assets/coffee-slide-3.png" alt="coffee">
          <h4 class="slider-item__name">Ice coffee</h4>
          <p class="slider-item__descr">
            A popular summer drink that tones and invigorates. Prepared from coffee, milk and ice.
          </p>
          <p class="slider-item__price">4.50</p>
        </div>
      </div>
    </div>

    <button class="slider-btn arrow-left">
      <img class="slider-btn__img" src="./assets/slider-btn-left.png" alt="">
    </button>
    <button class="slider-btn arrow-right">
      <img class="slider-btn__img" src="./assets/slider-btn-right.png" alt="">
    </button>

    <div class="slider-progressbar">
      <div class="progressbar-list">
        <div class="progressbar-item">
          <div class="progressbar-item__progress"></div>
        </div>
        <div class="progressbar-item">
          <div class="progressbar-item__progress"></div>
        </div>
        <div class="progressbar-item">
          <div class="progressbar-item__progress"></div>
        </div>
      </div>
    </div>
  </div>
</div>