$textDark: #403f3d;
$textLight: #E1D4C9;
$textAccent: #B0907A;

$bgBody: #E1D4C9;
$bgContainer: #665F55;
$bgBackdrop: #403f3dcc;



$borderLight: #C1B6AD;
$borderDark: #665F55;

$headerOfferBg: url('../assets/img/header-offer-bg.jpg');
$appStore: url('../assets/img/app-store-icon.svg');
$appStoreActive: url('../assets/img/app-store-active-icon.svg');
$googlePlay: url('../assets/img/google-play-icon.svg');
$googlePlayActive: url('../assets/img/google-play-active-icon.svg');