$textDark: #403f3d;
$textLight: #E1D4C9;
$textAccent: #B0907A;

$bgBody: #E1D4C9;
$bgContainer: #665F55;
$bgBackdrop: #403F3D;

$borderLight: #C1B6AD;
$borderDark: #665F55;

$headerOfferBg: url('../assets/img/header-offer-bg.jpg');