@import "../../../styles/variables.scss";

.favorite {
  text-align: center;
  margin-bottom: 100px;

  .favorite-title {
    margin: 0 0 40px;
    color: $textDark;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .favorite-title__accent {
    color: $textAccent;
  }

  @media (max-width: 630px) {
    .favorite-title {
      font-size: 32px;
    }
  }
}