@import "../../../../styles/variables.scss";

.menu-card {
  margin: 0 7px;
  width: 310px;
  border-radius: 40px;
  border: 1px solid $borderLight;
  color: $textDark;
  cursor: pointer;
}

// .menu-card__img {
//   display: block;
//   margin-bottom: 20px;
//   width: 100%;
//   border-radius: 40px;
//   object-fit: cover;
//   object-position: center;
//   // transform: translateZ();
// }

.menu-card__img {
  margin-bottom: 20px;
  border-radius: 40px;
  width: 310px;
  height: 310px;
  // background-image: url('../../../../assets/img/coffee-1.jpg');
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
}

// .qqq:hover {
// }

.menu-card:hover>.menu-card__img {
  background-size: 100%;
  // transform: translateZ(120%);
  // transform: scale(.9);
  // width: 90%;
}

.menu-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 270px;
  height: 166px;
}


.menu-card__title {
  margin:0 0 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.menu-card__description {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}

.menu-card__price {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.menu-card__price::before {
  content: "$";
}