<div class="container">
  <div class="header-offer">
    <div class="offer-content">
      <h1 class="offer-title">
        <span class="offer-title__accent">
          Enjoy
        </span>
        premium coffee at our charming cafe
      </h1>
      <p class="offer-descr">
        With its inviting atmosphere and delicious coffee options, the Coffee House Resource is a popular destination for coffee lovers and those seeking a warm and inviting space to enjoy their favorite beverage.
      </p>
      <a class="menu-link" href="/menu">Menu</a>
    </div>
  </div>
</div>
