@import "./libs/normalize.scss";
@import "./styles/variables.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $bgBody;
}

body::-webkit-scrollbar {
  width: 0px;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
