<section class="menu">
  <div class="container">
    <h2 class="menu-title">
      Behind each of our cups hides an
      <span class="menu-title__accent">
        amazing surprise
      </span>
    </h2>

    <div class="menu-categories">
      <ul class="categories-list">
        <li class="categories-list__item categories-item categories-item--active">
          <img class="categories-item__img categories-item__img--active" src="./assets/img/categories-coffeee-icon.png"
            alt="coffeee-icon">
          <p class="categories-item__text">Coffee</p>
        </li>
        <li class="categories-list__item categories-item">
          <img class="categories-item__img" src="./assets/img/categories-tea-icon.png" alt="tea-icon">
          <p class="categories-item__text">Tea</p>
        </li>
        <li class="categories-list__item categories-item">
          <img class="categories-item__img" src="./assets/img/categories-dessert-icon.png" alt="dessert-icon">
          <p class="categories-item__text">Dessert</p>
        </li>
      </ul>
    </div>

    <div class="menu-cards">
      @for (item of dataMenuCards; track item) {
        <app-coffee-cards [cardValue]="item"></app-coffee-cards>
      }

      <!-- <div class="menu-card">
        <img class="menu-card__img" src="./assets/img/coffee-1.jpg" alt="">
        <h4 class="menu-card__title">Irish coffee</h4>
        <p class="menu-card-description">
          Fragrant black coffee with Jameson Irish whiskey and whipped milk
        </p>
        <p class="menu-card__price">7.00</p>
      </div>
      
      <div class="menu-card">
        <img class="menu-card__img" src="./assets/img/coffee-1.jpg" alt="">
        <h4 class="menu-card__title">Irish coffee</h4>
        <p class="menu-card-description">
          Fragrant black coffee with Jameson Irish whiskey and whipped milk
        </p>
        <p class="menu-card__price">7.00</p>
      </div>

      <div class="menu-card">
        <img class="menu-card__img" src="./assets/img/coffee-1.jpg" alt="">
        <h4 class="menu-card__title">Irish coffee</h4>
        <p class="menu-card-description">
          Fragrant black coffee with Jameson Irish whiskey and whipped milk
        </p>
        <p class="menu-card__price">7.00</p>
      </div>

      <div class="menu-card">
        <img class="menu-card__img" src="./assets/img/coffee-1.jpg" alt="">
        <h4 class="menu-card__title">Irish coffee</h4>
        <p class="menu-card-description">
          Fragrant black coffee with Jameson Irish whiskey and whipped milk
        </p>
        <p class="menu-card__price">7.00</p>
      </div>

      <div class="menu-card">
        <img class="menu-card__img" src="./assets/img/coffee-1.jpg" alt="">
        <h4 class="menu-card__title">Irish coffee</h4>
        <p class="menu-card-description">
          Fragrant black coffee with Jameson Irish whiskey and whipped milk
        </p>
        <p class="menu-card__price">7.00</p>
      </div>

      <div class="menu-card">
        <img class="menu-card__img" src="./assets/img/coffee-1.jpg" alt="">
        <h4 class="menu-card__title">Irish coffee</h4>
        <p class="menu-card-description">
          Fragrant black coffee with Jameson Irish whiskey and whipped milk
        </p>
        <p class="menu-card__price">7.00</p>
      </div>

      <div class="menu-card">
        <img class="menu-card__img" src="./assets/img/coffee-1.jpg" alt="">
        <h4 class="menu-card__title">Irish coffee</h4>
        <p class="menu-card-description">
          Fragrant black coffee with Jameson Irish whiskey and whipped milk
        </p>
        <p class="menu-card__price">7.00</p>
      </div>

      <div class="menu-card">
        <img class="menu-card__img" src="./assets/img/coffee-1.jpg" alt="">
        <h4 class="menu-card__title">Irish coffee</h4>
        <p class="menu-card-description">
          Fragrant black coffee with Jameson Irish whiskey and whipped milk
        </p>
        <p class="menu-card__price">7.00</p>
      </div> -->
    </div>
  </div>
</section>