<section #menu class="menu">
  <div class="container">
    <h2 class="menu-title">
      Behind each of our cups hides an
      <span class="menu-title__accent">
        amazing surprise
      </span>
    </h2>

    <div class="menu-categories">
      <ul class="categories-list">
        <li #categories_list
        (click)="getCategories($event); changeActiveCategories();" 
        data-categories="coffee" class="categories-list__item categories-item categories-item--active">
          <img class="categories-item__img categories-item__img--active" src="./assets/img/categories-coffeee-icon.png"
            alt="coffeee-icon">
          <p class="categories-item__text">Coffee</p>
        </li>
        <li #categories_list
        (click)="getCategories($event); changeActiveCategories();"
        data-categories="tea"
        class="categories-list__item categories-item">
          <img class="categories-item__img" src="./assets/img/categories-tea-icon.png" alt="tea-icon">
          <p class="categories-item__text">Tea</p>
        </li>
        <li #categories_list
        (click)="getCategories($event); changeActiveCategories();"
        data-categories="dessert"
        class="categories-list__item categories-item">
          <img class="categories-item__img" src="./assets/img/categories-dessert-icon.png" alt="dessert-icon">
          <p class="categories-item__text">Dessert</p>
        </li>
      </ul>
    </div>

    <div class="menu-cards">
      @for (item of getDataOfCards(categories); track item) {
        <app-menu-cards [cardValue]="item" (modalShow)="openModal()" (dataCards)="handleDataCards($event)"></app-menu-cards>
        }
    </div>
  </div>
  
  @if (modalActive) {
    <app-modal (modalHide)="closeModal()" [dataCards]="dataCardForModal"></app-modal>
  }
</section>