<section id="application" class="application">
  <div class="container">
    <div class="application-wrapper">
      <div class="application-download">
        <h2 class="application-title">
          <span class="application-title__accent">Download</span>
          our apps to start ordering
        </h2>
        <p class="application-descr">
          Download the Resource app today and experience the comfort of ordering your favorite coffee from wherever you
          are
        </p>
        <div class="application-links">
          <a class="application-link" href="https://www.apple.com/app-store/" target="_blank">
            <div class="link-content">
              <img class="application-link__img" src="./assets/img/app-store-icon.svg" alt="App Store">
              <p class="application-link__name">
                <span class="application-link__subname">Available on the</span>
                App Store
              </p>
            </div>
          </a>
          <a class="application-link" href="https://play.google.com/" target="_blank">
            <div class="link-content">
              <img class="application-link__img" src="./assets/img/google-play-icon.svg" alt="Google Play">
              <p class="application-link__name">
                <span class="application-link__subname">Available on</span>
                Google Play
              </p>
            </div>
          </a>
        </div>
      </div>
      <img class="application-photo" src="./assets/img/application-photo.png" alt="application photo">
    </div>
  </div>
</section>